:root {
    --azul-oscuro: #1D71B8;
    --azul-claro: #009FE3;
    --rojo-claro: #E30613;
    --rojo-oscuro: #C32B31;
    --amarillo-claro: #FFDE00;
    --amarillo-oscuro: #F9B233;
}

.hidden {
    display: none;
}


@font-face {
    font-family: 'designer','sanf serif';
    src: url(Fuente/Designer.otf) format('opentype');
}
@font-face {
    font-family: 'tommy1';
    src: url(Fuente/tommy1.otf) format('opentype');
}
@font-face {
    font-family: 'tommy2';
    src: url(Fuente/tommy1-1.otf) format('opentype');
}
@font-face {
    font-family: 'tommy3';
    src: url(Fuente/tommy2.otf) format('opentype');
}

html {
    font-size: 15px;
}


.contenedor__principal {
    width: 100%;
    max-width: 1400px;
}

.header {
    background-image: url('img/manos-juntas.webp'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    margin-bottom: 120px;
    transition: all .9 ease;
}

.header__h1 {
    background: var(--amarillo-claro);
    text-align: center;
    font-family: designer;
    padding: 10px 4px;
    font-size: 1.5rem;
    color: var(--azul-oscuro);
    /* border-bottom: 3px solid var(-r); */
    text-shadow: 0px 0px 1.09px var();
}

.header__h1 .header__span {
    font-size: 1.68rem;
}

.header__img {
    width: 150px;
}

.header__contenedor--img {
    width: 160px;
    height: 160px;
    background: #fff;
    padding-top: 10px;
    border-radius: 50%;
    margin: 35px auto;
    opacity: .8;
}

.navbar {
    background-color: var(--amarillo-claro);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
    max-width: 100%;
    font-family: 'tommy3';
    font-size: 1.5rem;
    color: var(--rojo-claro);
    position: relative;
    opacity: .8;
    top: 7px;
}

.divmenu {
    cursor: pointer;
    /* color: var(--amarillo-claro); */
    border-bottom: 2px solid var(--rojo-oscuro);
    height: 34px;
}

.nav-ul {
    list-style: none;
    padding: 0;
    display: none;
}

.nav-ul li {
    margin: 10px 0;
    border-bottom: 3px solid var(--rojo-oscuro);
}

.nav-ul a {
    text-decoration: none;
    color: var(--rojo-claro);
    margin-bottom: 5px;
}

/* Section logos empresas */

.section1 {
    text-align: justify;
    width: 100%;
    color: var(--rojo-claro);
    text-shadow: 0 0 2px #fff;
    font-family: 'tommy3';
    font-size: 1.25rem;
    font-weight: 200;
    padding: 5px 15px;
    background-image: url(img/segunda-portada.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20px;
    margin-bottom: 120px;
    
}



.section1__article1 {
    margin-bottom: 25px;
   
}

.section1__article1 .section1__article1--h2 {
    font-family: 'designer';
    font-size: 2rem;
    text-align: center;
    margin-bottom: 14px;
    padding-bottom: 8px;
    color: var(--azul-oscuro);
}

.section1__article2 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    max-width: 370px;
}

.section1__article2 h3{
    font-family: 'designer';
    text-align: center;
    color: var(--azul-oscuro);
    font-size: 1.7rem;
    margin-bottom: 15px;
}

.section1__article3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section1__article3 img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: 9px;
}

.section1__article3 .section1__iconecasa,
.section1__article3 .section1__icontemuco,
.section1__article3 .section1__iconcareal,
.section1__article3 .section1__iconaltius,
.section1__article3 .section1__iconconsud {
    margin-bottom: 14px;
    margin-top: 5px;
}


.section2 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid red; */
}

.section2 .section2__header {
    font-family: 'designer';
    font-size: 1.5rem;
    color: var(--azul-oscuro);
    margin-bottom: 30px;
}

.section2 .article {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    /* border: 1px solid red; */
    margin-bottom: 25px;
    font-family: 'tommy2';
    font-weight: 600;
    color: var(--rojo-claro);
}

.section2 .article h4 {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'tommy3';
    color: var(--azul-claro);
    margin-bottom: 8px;
}

.section2 img {
    width: 100%;
    display: none;
    margin-top: 5px;
}

.section2 .img {
    margin-top: 0;
}

.section2 .li__span {
    margin: 5px auto;
    font-size: 1.2rem;
    color: var(--azul-claro);
    display: block;
}

.section2 .article button {
    width: 100%;
    background: var(--amarillo-claro);
    height: 40px;
    margin-top: 20px;
    color: var(--azul-oscuro);
    font-family: 'tommy3';
    text-transform: uppercase;
    text-shadow: .5px .5px .6px var(--azul-claro);
    border-radius: 15px 15px 0 0 ;
}

.section3, 
.section4 {
    width: 90%;
    margin: 90px auto;
    text-align: justify;
}

.section3 h5,
.section4 h5 {
    font-family: 'designer';
    font-size: 1.18rem;
    text-align: center;
    color: var(--azul-oscuro);
    margin-bottom: 16px;
}

.section3 p,
.section4 p {
    font-family: 'tommy1';
    font-weight: 999;
    margin: 15px 0;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background: var(--amarillo-oscuro);
    height: 40px;
    font-family: 'tommy1';
    color: #000;
}

@media screen and (min-width: 800px) {
    .header {
        height: 400px;
        transition: all .3s ease;
    }

    .header__h1 .linea-separadora {
        display: none;
        
    }

    .header__h1 {
        padding: 15px 4px;
        font-size: 2rem;
    }

    .header__h1 .header__span {
        font-size: 2rem;
    }

    .header__img {
        width: 200px;
    }
    
    .header__contenedor--img {
        width: 210px;
        height: 210px;
        margin-top: 57px;
        padding-right: 40px;
        border-radius: 50%;
    }

    .navbar {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 15px;
        max-width: 100%;
        font-family: 'tommy3';
        font-size: 2.2rem;
        color: var(--rojo-claro);
        position: relative;
        opacity: .8;
        top: 47px;
        transition: all 1s ease;
    }
    
    .divmenu {
        height: 40px;
    }

    .section1 {
        font-size: 1.75rem;
        font-weight: 100;
        line-height: 35px;        
        padding-top: 70px;
        margin-bottom: 150px;
        margin-top: 200px;
        transition: all 1s ease;
    }

    .section1__article1 {
        margin-bottom: 75px;
       
    }
    
    .section1__article1 .section1__article1--h2 {
        font-size: 2.7rem;
        
    }
    
    .section1__article2 {
        max-width: 1400px;
    }
    
    .section1__article2 h3{
        font-family: 'designer';
        text-align: center;
        color: var(--azul-oscuro);
        font-size: 2rem;
        margin-bottom: 15px;
    }

    

    .section2 .section2__header {
        font-size: 2.5rem;

    }

    .section2 .article {
        font-size: 1.27rem;
    }

    .section2 .article h4 {
        font-size: 1.55rem;
    }

    .section2 .li__span {
        font-size: 1.5rem;
    }

    .section3 h5,
    .section4 h5 {
    font-size: 2rem;
    }

    .section3 p,
    .section4 p {
    font-size: 1.25rem;
    }

    footer {
        font-size: 1.2rem;
    }
}